<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<h1 style="color: rgb(34, 3, 3);">
	</h1>
	<h1 style="color: rgb(231, 236, 228);">
	</h1>
	<h1 style="color: rgb(255, 170, 236);">
	</h1>

	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">

		<!-- login -->
		<div class="login">
			<form method="post" action="/login">
				<label for="chk" aria-hidden="true">Login</label>
				<input type="text" name="username" placeholder="user" required="">
				<input type="password" name="password" placeholder="Password" required="">
				<button>Login</button>
			</form>
		</div>
	</div>
</body>

</html>